.dropdowncontainer {
    width: 400px;
    margin: 10px;
    position: relative;
  }

  
  .dropdowncontent select {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    appearance: none;
    background-color: transparent;
    color: #746c6c;
    cursor: pointer;
    font-family: Arial;
  }


  select option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  select option:hover {
    background-color: #f2f2f2;
  }
  
  select option:checked {
    background-color: #b2b3b4;
    color: #fff;
  }

  select {
    appearance: none;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ccc;
    color: #555;
    font-size: 16px;
    padding: 12px 40px 12px 16px;
    position: relative;
    width: 100%;
  }
  
  .custom-arrow {
    border-left: 8px solid black ;
    border-right: 8px solid black;
    border-top: 8px solid #050303;
    height: 0;
    margin-top: -4px;
    position: absolute;
    right: 12px;
    top: 50%;
    width: 0;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #c3c2c2;
    min-width: 200px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 25px;
  }
  

  option{
    appearance: none;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ccc;
    color: #555;
    font-size: 16px;
    padding: 12px 40px 12px 16px;
    position: relative;
    width: 100%;
  }

h1,h3{
    background-color: rgba(0,0,0,0);
    color:rgb(131, 127, 127);
    text-align:center; 
    font-weight:bold;
    font-family:Arial;
    font-size:18px;
    margin:0.2%;
}
.container{
    position: absolute;
    top: 60%; 
    left: 45%; 
    transform: translate(-44%, -30%); 
    color: rgb(0, 0, 0);
    padding: 20px;
    height:100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    width:70%;
    background-color:whitesmoke;
    border-radius:2%;

}